<%- include('partials/header') %>

  <div class="jumbotron centered-main">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">Secrets</h1>
      <% secrets.forEach(function(item) { %>
        <p class="secret-text"><%=item.content%></p>
      <% }); %>
      <hr>
      <div class="form-group">
        <form class="secret-input-form" action="/secrets" method="post">
          <input type="text" class="form-control" name="content" placeholder="add a secret...." required>
          <button type="submit" class="btn btn-dark">Submit</button>
        </form>
      </div>
      <form class="pt-3" action="/logout" method="post">
        <button type="submit" class="btn btn-secondary">Logout</button>
      </form>

    </div>
  </div>